<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p> QNA forum is a question answer based forum where students can upload their doubts in whichever subject that they prefer.These doubts or questions can be answered by the other students or the teacher.The aim of this website is to helo the students solve their doubts with the help of mutual and organized interaction amongst the students and the faculty </p>
  </body>
</html>
