<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QNA</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../styles/util.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
<!--===============================================================================================-->
  </head>
  <style>
    h1{
      font-family: Anton;
      font-size: 150px;
      text-align: center;
      margin-bottom: 100px;
      margin-top: 200px;
    }
    p{
      font-size: 30px;
      text-align: center;
      position: relative;
      bottom: 80px;
      font-family: 'Josefin Sans';
      margin-bottom: 50px;
    }
    a{
      /* padding-left: 200px; */
      margin-left: 700px;
      margin-right: 700px;
      margin-bottom: 50px;
      color: #FFFFFF;
        
    }
  </style>
  <body>
      <h1>QNA</h1>
      <p>A community based mutual doubt sharing and solving platfrom.</p>

      <div class="container-login100-form-btn">
          <a  href="login.html" class="login100-form-btn" style="background-color: #067afc">
              Login
          </a>
          <a href="signup.html" class="login100-form-btn" style="background-color: #067afc">
              Sign Up
          </a>
      </div>

      <!--===============================================================================================-->
          <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
      <!--===============================================================================================-->
          <script src="vendor/animsition/js/animsition.min.js"></script>
      <!--===============================================================================================-->
          <script src="vendor/bootstrap/js/popper.js"></script>
          <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!--===============================================================================================-->
          <script src="vendor/select2/select2.min.js"></script>
      <!--===============================================================================================-->
          <script src="vendor/daterangepicker/moment.min.js"></script>
          <script src="vendor/daterangepicker/daterangepicker.js"></script>
      <!--===============================================================================================-->
          <script src="vendor/countdowntime/countdowntime.js"></script>
      <!--===============================================================================================-->
          <script src="js/main.js"></script>
  </body>
</html>
