<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup | QNA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!--===============================================================================================-->
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../styles/util.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
<!--===============================================================================================-->
</head>

<body>


        <div style="padding: 0px; margin: 0px;margin-left: 0px;">
        <form action="../pages/signup.php" method="POST">
          <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-70">
                        Sign Up
                    </span>
                    <div class="wrap-input100 validate-input m-b-50" data-validate = "Enter your Fullname">
                        <input class="input100" type="text" name="name" placeholder="Fullname">
                        <span  data-placeholder="Fullname"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate = "Enter your Roll-Number">
                        <input class="input100" type="text" name="roll" placeholder="Roll-Number">
                        <span  data-placeholder="Roll-Number"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate = "Enter your Email">
                        <input class="input100" type="text" name="email" placeholder="Email">
                        <span  data-placeholder="Email"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate = "Enter your Branch">
                        <input class="input100" type="text" name="branch" placeholder="Branch">
                        <span  data-placeholder="Branch"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate = "Enter your Year">
                        <input class="input100" type="number" name="year" placeholder="Year">
                        <span  data-placeholder="Year"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span " data-placeholder="Password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" style="background-color: #067afc">
                            Sign Up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        </form>
      </div>
            <div id="dropDownSelect1"></div>

<!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="js/main.js"></script>

    </body>
</html>
