<html>
    <title>Signup</title>
    <body>
        <form action="../pages/signup.php" method="POST">
            Fullname:
            <input type="text" name="name"><br>
            Roll Number:
            <input type="number" name="roll"><br>
            Email:
            <input type="email" name="email"><br>
            Branch:
            <input type="text" name="branch"><br>
            Year:
            <select name="year">
                <option value="1" >1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3" >3rd Year</option>
                <option value="4" >4th Year</option>
            </select><br>
            Password:
            <input type="password" name="password"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>
